<!DOCTYPE html>
<html lang="zh-CN">
<head>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<title>保定文斋印刷书籍管理系统</title>
</head>
<body role="document">
<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="/search_book_name/">保定文斋印刷书籍管理系统</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#">查询书籍</a></li>
<li><a href="/revise_generation/">修改记录</a></li>
<li><a href="/add_book/">添加书籍</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="/admin/">{{user}}</a></li>
<li><a href="/logout/">退出</a></li>
</ul>
</div>
</div>
</nav>

<!--发布会搜索表单-->
<div class="modal-dialog" style="margin-top: 10%;">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">在此输入书籍编号</h4>
    </div>
    <div class="modal-body" >
<form action="/search_book_name/" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="modal-footer">
            <button id="btn" type="submit" class="btn btn-primary form-control">查询书籍</button>
        </div>
	
	<font color="red">
	<br>{{ hint }}
	</font>
</form>
</div>
</div>
</div>

<!-- 书籍列表 -->
<div class="container">
<div class="row" style="padding-top: 80px;">
<div class="col-md-12">
<table class="table table-striped">
<thead>
<tr>
<th>书籍序列号</th><th>书籍名称</th><th>创建时间</th>
</tr>
</thead>
<tbody>
{% for book in book_list %}
<tr>
<td>{{ book.BookNumber }}</td>
<td>{{ book.BookName }}</td>
<td>{{ book.Create_time }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<div class="container">
<div class="row" style="padding-top: 80px;">
<div class="col-md-12">
<table class="table table-striped">
<thead>
<tr>
<th>所属书籍</th><th>标签</th><th>印张</th><th>印数</th><th>创建时间</th>
</tr>
</thead>
<tbody>
{% for label in label_list %}
<tr>
<td>{{ label.Book }}</td>
<td>{{ label.LabelName }}</td>
<td>{{ label.ShowGenerationNum }}</td>
<td>{{ label.PrintNum }}</td>
<td>{{ label.Create_time }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<!-- 代数列表 -->
<div class="container">
<div class="row" style="padding-top: 80px;">
<div class="col-md-12">
<table class="table table-striped">
<thead>
<tr>
    <th>所属书籍</th><th>所属标签</th><th>代数编号</th><th>状态</th><th>已印刷数</th><th>签名</th><th>还差值</th><th>印刷完成时间</th>
</tr>
</thead>
<tbody>
{% for generation in generation_list %}
<tr>
{% for book in book_list %}
<td>{{ book.BookName }}</td>
{% endfor %}
<td>{{ generation.Label }}</td>
<td>{{ generation.GenerationNumber }}</td>

{% if generation.Status == "未开始" %}
<td class="danger">{{ generation.Status }}</td>
{% elif generation.Status == "进行中"%}
<td class="warning">{{ generation.Status }}</td>
{% else %}
    <td class="success">{{ generation.Status }}</td>
{% endif %}

{% if generation.AlreadyPrintNum == '0' %}
<td class= "danger">{{ generation.AlreadyPrintNum}}</td>
{% elif generation.Status == "进行中"%}
    <td class= "warning">{{ generation.AlreadyPrintNum}}</td>
{% else %}
    <td class= "success">{{ generation.AlreadyPrintNum}}</td>
{% endif %}



{% if generation.Sign == "-" %}
<td class= "danger">{{ generation.Sign }}</td>
{% elif generation.Status == "进行中"%}
    <td class= "warning">{{ generation.Sign }}</td>
{% else %}
<td class= "success">{{ generation.Sign }}</td>
{% endif %}

{% if generation.Status == "未开始" %}
<td class= "danger">{{ generation.RemainPrintNum}}</td>
{% elif generation.Status == "进行中"%}
    <td class= "warning">{{ generation.RemainPrintNum}}</td>
{% else %}
    <td class= "success">{{ generation.RemainPrintNum }}</td>
{% endif %}

<td>{{ generation.Create_time }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

</body>
</html>
